[data-theme="dark"] {

	.page-container:before{
		filter: blur(5px) brightness(50%)!important;
	}
	.key-input-container{
		background-color: #2e2e2e!important;
		color: #ffffff!important;
		h1{
			color: #ffffff!important;
		}
	}

	.appTitle, .appTitleShort{
		color: #ffffff!important;
	}
	.ant-menu{
		background: #2e2e2e!important;
	}
	.ant-menu-item a{
		color: #ffffff!important;
	}
	.ant-menu-item-selected a{
		color: #fa8c16!important;
	}
	.ant-btn {
		&:not(.attachButton){
			&:not(.processingButton){
				background: #2e2e2e!important;
				color: #ffffff!important;
			}
		}
	}
	.attachButton{
		background: transparent;
		color: #ffffff!important;
	}
	.disconnectButton{
		color: #ff0000 !important;
	}

	.ant-tabs-tab{
		color: #ffffff!important;
	}
	.ant-list-item{
		background: #424242!important;
		.ant-list-item-meta-title, .ant-list-item-meta-description th{
			color: #ffffff;
		}
		.ant-list-item-meta-description td:not(.dnt){
			color: #ffffff!important;
		}
		img{
			filter: invert(1);
		}
	}
	.ant-empty-description, .ant-divider-inner-text, .ant-col{
		color: #ffffff!important;
		label{
			color: #ffffff!important;
		}
	}

	.ant-layout{
		background: #2e2e2e;
	}
	.ant-menu-horizontal{
		border-color: #424242!important;
	}

	.ant-collapse{
		border-color: #575757 !important;
		background: #424242 !important;
		.ant-collapse-item{
			border-color: #575757!important;
			.ant-collapse-header, .ant-collapse-content-box, .ant-collapse-content{
				border-color: #575757!important;
				background: #3d3d3d !important;
				color: #ffffff!important;
			}
		}
	}

	.ant-typography{
		color: #ffffff!important;
	}

	.controls-container{
		background: #424242 !important;
		color: #ffffff!important;
		.ant-slider-mark-text{
			color: #ffffff!important;
		}
	}

	.leaflet-popup-content-wrapper{
		background: #424242 !important;
		img{
			filter: invert(1);
		}
	}

	.ant-design-draggable-modal-title, .ant-modal-content{
		background: #424242 !important;
		color: #ffffff!important;
		button, .ant-slider-mark-text{
			color: #ffffff!important;
		}
		.ant-btn{
			background: #575757!important;
		}
	}

	.ant-layout-content p, .ant-layout-content ul {
		color: white;
	}

    .ant-divider-horizontal.ant-divider-with-text {
        border-top-color: rgba(255, 255, 255, 0.5);
    }

    .ant-slider-mark-text {
        color: rgba(255, 255, 255, 0.4);
    }
    
    .ant-slider-mark-text-active {
        color: rgba(255, 255, 255, 0.85);
    }

	.leaflet-left{
		.leaflet-control-zoom{
			background: #424242!important;
			border-color: rgba(0,0,0,0.2)!important;
			a{
				background: #424242!important;
				color: #ffffff!important;
				border-color: rgba(0,0,0,0.2)!important;
			}
			a:hover{
				background: #575757!important;
				color: #ffffff!important;
			}
		}
		.leaflet-draw{
			.leaflet-draw-toolbar{
				background: #424242!important;
				border-color: rgba(0,0,0,0.2)!important;

				a:hover{
					background: #575757!important;
				}
				.leaflet-draw-draw-add{
					background: #424242!important;
					position: relative;
					&:before{
						content: '';
						background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSI2NCA2NCA4OTYgODk2IiBmb2N1c2FibGU9ImZhbHNlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZSAvPjwvZGVmcz48cGF0aCBkPSJNNDgyIDE1Mmg2MHE4IDAgOCA4djcwNHEwIDgtOCA4aC02MHEtOCAwLTgtOFYxNjBxMC04IDgtOHoiIC8+PHBhdGggZD0iTTE3NiA0NzRoNjcycTggMCA4IDh2NjBxMCA4LTggOEgxNzZxLTggMC04LTh2LTYwcTAtOCA4LTh6IiAvPjwvc3ZnPg==) !important;
						background-size: 16px 16px!important;
						background-repeat: no-repeat;
						background-position: center;
						filter: invert(1);
						width: 30px;
						height: 30px;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
				.leaflet-draw-draw-edit{
					background: #424242!important;
					position: relative;
					&:before{
						content: '';
						background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSI2NCA2NCA4OTYgODk2IiBmb2N1c2FibGU9ImZhbHNlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yNTcuNyA3NTJjMiAwIDQtLjIgNi0uNUw0MzEuOSA3MjJjMi0uNCAzLjktMS4zIDUuMy0yLjhsNDIzLjktNDIzLjlhOS45NiA5Ljk2IDAgMDAwLTE0LjFMNjk0LjkgMTE0LjljLTEuOS0xLjktNC40LTIuOS03LjEtMi45cy01LjIgMS03LjEgMi45TDI1Ni44IDUzOC44Yy0xLjUgMS41LTIuNCAzLjMtMi44IDUuM2wtMjkuNSAxNjguMmEzMy41IDMzLjUgMCAwMDkuNCAyOS44YzYuNiA2LjQgMTQuOSA5LjkgMjMuOCA5Ljl6bTY3LjQtMTc0LjRMNjg3LjggMjE1bDczLjMgNzMuMy0zNjIuNyAzNjIuNi04OC45IDE1LjcgMTUuNi04OXpNODgwIDgzNkgxNDRjLTE3LjcgMC0zMiAxNC4zLTMyIDMydjM2YzAgNC40IDMuNiA4IDggOGg3ODRjNC40IDAgOC0zLjYgOC04di0zNmMwLTE3LjctMTQuMy0zMi0zMi0zMnoiIC8+PC9zdmc+) !important;
						background-size: 16px 16px!important;
						background-repeat: no-repeat;
						background-position: center;
						filter: invert(1);
						width: 30px;
						height: 30px;
						position: absolute;
						top: 0;
						left: 0;
					}
				}

				.leaflet-draw-draw-save{
					background: #424242!important;
					position: relative;
					&:before{
						content: '';
						background-image: linear-gradient(transparent, transparent), url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSI2NCA2NCA4OTYgODk2IiBmb2N1c2FibGU9ImZhbHNlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik04OTMuMyAyOTMuM0w3MzAuNyAxMzAuN2MtNy41LTcuNS0xNi43LTEzLTI2LjctMTZWMTEySDE0NGMtMTcuNyAwLTMyIDE0LjMtMzIgMzJ2NzM2YzAgMTcuNyAxNC4zIDMyIDMyIDMyaDczNmMxNy43IDAgMzItMTQuMyAzMi0zMlYzMzguNWMwLTE3LTYuNy0zMy4yLTE4LjctNDUuMnpNMzg0IDE4NGgyNTZ2MTA0SDM4NFYxODR6bTQ1NiA2NTZIMTg0VjE4NGgxMzZ2MTM2YzAgMTcuNyAxNC4zIDMyIDMyIDMyaDMyMGMxNy43IDAgMzItMTQuMyAzMi0zMlYyMDUuOGwxMzYgMTM2Vjg0MHpNNTEyIDQ0MmMtNzkuNSAwLTE0NCA2NC41LTE0NCAxNDRzNjQuNSAxNDQgMTQ0IDE0NCAxNDQtNjQuNSAxNDQtMTQ0LTY0LjUtMTQ0LTE0NC0xNDR6bTAgMjI0Yy00NC4yIDAtODAtMzUuOC04MC04MHMzNS44LTgwIDgwLTgwIDgwIDM1LjggODAgODAtMzUuOCA4MC04MCA4MHoiIC8+PC9zdmc+) !important;
						background-size: 16px 16px!important;
						background-repeat: no-repeat;
						background-position: center;
						filter: invert(1);
						width: 30px;
						height: 30px;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
		}
		.leaflet-control-layers {
			background: #424242!important;
			border-color: rgba(0,0,0,0.2)!important;
			.leaflet-control-layers-toggle{
				filter: invert(1)!important;
			}
		}
		.leaflet-control-path{
			background: #424242!important;
			border-color: rgba(0,0,0,0.2)!important;

			a{
				background: #424242!important;
				svg{
					filter: invert(1);
				}
			}
			a:hover{
				background: #575757!important;
			}
		}
	}

	.leaflet-right{
		.leaflet-control-layers{
			background: #424242!important;
			color: #ffffff!important;
		}
	}

	.ant-modal-confirm-title, .ant-modal-confirm-content{
		color: #ffffff!important;
	}

	.ant-modal-header{
		background: #424242!important;
		color: #ffffff!important;
		.ant-modal-title{
			color: #ffffff!important;
		}
	}

}

[data-map-theme='dark']{
	.leaflet-pane .leaflet-background-pane{
		filter: invert(1)!important;
	}
}