$bg-color: yellow;
$border-color: red;

#root {
	font-family: helvetica, arial, sans-serif;
	height: 100%;

	.page-container{
		height: 100%;
	}
	.app-logo{
		position: absolute;
		left: 5px;
		bottom: 10px;
		z-index: 5000;
		width: 50px;
	}
}