$bg-color: yellow;
$border-color: red;

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#root {
	font-family: helvetica, arial, sans-serif;
	height: 100%;

	.page-container{
		height: 100%;
	}
	.app-logo{
		position: absolute;
		left: 5px;
		bottom: 10px;
		z-index: 5000;
		width: 50px;
	}
	.key-input-body{
		position: relative;
	}
	.key-input-body:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.6;
		background: url("../Background.jpg");
		filter: blur(5px);
		z-index: -1;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;
	  }
	  
	.key-input-div{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		.key-input-container{
			text-align: center;
			background-color: rgba(255, 255, 255, 0.75);
			padding: 20px;
			border-radius: 5px;
			max-width: 1000px;
			h1{
				font-size:25px;
				margin-bottom: 5px;
				font-weight: bold;
			}
			input{
				font-size: 18px;
			}
			button{
				height: 38px;
			}
			p{
				text-align: left;
				margin: 10px;
				font-size: 16px;
			}
		}
	}
	.player-select-div{
		display: flex;
		justify-content: center;
		padding-top: 30vh;
		.player-select-container{
			width: 50vw;
			text-align: center;
			.player-select-item{
				width: 200px;
				margin: 2px;
			}
		}
	}
	.controls-container {
		max-width: 1000px;
		width: 100%;
		background: white;
		padding: 20px;
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.11);
		border-radius: 5px;
		margin-bottom: 50px;
	}

	.control-page-title {
		max-width: 1000px;
		width: 100%;
		margin: 20px 0;
		vertical-align: middle;
		display: flex;

		h3 {
			margin-bottom: 0;
		}
	}
}

.openDialog {
	table {
		width: 100%;
		td {
			text-align: center;
		}
		.ant-avatar {
			cursor: pointer
		}
		tr:nth-child(2) td {
			padding-top: 10px;
		}
	}
}

.control-locomotive{
	background-color: #f3f3f3;
	border: 1px solid #d5d5d5;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 5px;
	transition: all 100ms ease-in-out;
	margin-right: 5px;

	h1, p{
		margin-bottom: 0;
	}
	&:hover{
		background-color: #eeeeee;
		border-color: #d0d0d0;
		cursor: pointer;
	}
}